---
layout: default
---

{% assign thisName = page.id | remove: '/wikis/' %}
<input type="hidden" id="thisName" value="{{ thisName }}"/>

<h1>{{ page.title }}</h1>
<p>written on {{ page.date | date: "%B %-d, %Y" }}</p>
<p>edited on {{ page.updated | date: "%B %-d, %Y" }}</p>

{% raw %}
<div id="parent-list"></div>
{% endraw %}

{% if page.tags %}
	<div class="post-tag">
		{{ page.tags }}
	</div>
{% endif %}

{% if page.toc == false %}
{% endif %}

<article class="post-content">
	{{ content }}
</article>

{% include createLink.html %}

<script src="/js/axios.min.js"></script>
<script async src="/js/parent.js"></script>
